<section id="new_session">
  <div class="new_session">
    <h1>Entrar no site</h1>
    <%= simple_form_for :signin, { :url => sessions_path } do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :remember_me, :as => :boolean, :inline_label => 'Permanecer logado', :label => false %>
      <%= content_tag :p, link_to("Esqueceu sua senha?", new_password_reset_path) %>
      <%= submit_tag 'Entrar' %>
    <% end %>
  </div>
</section>
