<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Nova solicitação de contato pelo site Livro da Classe</h1>
		<dl>
			<dt>Nome completo</dt>
			<dd><%= @lead_info.nome_completo %></dd>
			<dt>Email</dt>
			<dd><%= @lead_info.email %></dd>
			<dt>Cargo</dt>
			<dd><%= @lead_info.cargo %></dd>
			<dt>Nome da escola</dt>
			<dd><%= @lead_info.nome_da_escola %></dd>
			<dt>Cidade</dt>
			<dd><%= @lead_info.cidade %></dd>
			<dt>Estado</dt>
			<dd><%= @lead_info.estado %></dd>
			<dt>Telefone</dt>
			<dd><%= @lead_info.telefone %></dd>
		</dl>
	</body>
</html>