<h1><%=t :edit_password %></h1>

<%= simple_form_for @user, { :url => password_reset_path(params[:id]) } do |f| %>
  <div class="form-inputs">
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(:save_password) %>
  </div>
<% end %>
