<section id="new_session">
  <div class="new_session cadastro-login">

    <h1><%=t :edit_password %></h1>
    <%= simple_form_for @user, { :url => password_reset_path(params[:id]) } do |f| %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, t(:save_password) %>
    <% end %>

  </div>
</section>

<script>
$.each($("form div"), function() {
  var label = $("label",$(this)).text();
  $("label",$(this)).hide();
  $("div input",$(this)).prop("placeholder",label);
});
</script>


