<div id="home">

  <section id="video">
    <div class="video">
      <div class="top">
        <div class="links">
          <ul>
            <li><span class="icon"></span><span class="text">Diagramação Online</span></li>
            <li><span class="icon"></span><span class="text">Apoio Editorial</span></li>
            <li><span class="icon"></span><span class="text">Impressão Digital</span></li>
          </ul>
        </div>
        <div class="video">
          <div class="embed"></div>
        </div>
      </div>
      <div class="bottom">
        <%= link_to 'Saiba Mais', saiba_path, class: "saiba-mais" %>
        <%= link_to 'Comece agora', wizard_path, class: "comece-agora" %>
      </div>
    </div>
  </section>

  <section id="quem-somos">
    <div class="quem-somos">
      <h1>Quem Somos</h1>
      <ul>
        <li>
          <div class="user">
            <figure>
              <%= image_tag 'new_ui/avatar.jpg' %>
            </figure>
            <h2 for="">Jorge Sallum</h2>
          </div>
          <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
        </li>
        <li>
          <div class="user">
            <figure>
              <%= image_tag 'new_ui/avatar.jpg' %>
            </figure>
            <h2 for="">Nome Sobrenome</h2>
          </div>
          <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
        </li>
        <li>
          <div class="user">
            <figure>
              <%= image_tag 'new_ui/avatar.jpg' %>
            </figure>
            <h2 for="">Nome Sobrenome</h2>
          </div>
          <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
        </li>
      </ul>
    </div>
  </section>

  <section id="como-funciona">
    <div class="como-funciona">
      <h1>Como Funciona</h1>
      <article>
        <figure>
          <%= image_tag 'new_ui/big-icons-1.png' %>
        </figure>
        <p>Uma plataforma de edição colaborativa, com apoio editorial e impressão digital, na qual professor e alunos interagem para produzir livros de modo fácil e rápido. </p>
      </article>
      <article>
        <figure>
          <%= image_tag 'new_ui/big-icons-2.png' %>
        </figure>
        <p>Apoio editorial por profissionais da área, para editar e <br>produzir seu livro.</p>
      </article>
      <article>
        <figure>
          <%= image_tag 'new_ui/big-icons-3.png' %>
        </figure>
        <p>Arquivos ebook ou pdf gratuito e a possibilidade de imprimir <br> o livro da sua escola na tiragem desejada.</p>
      </article>
    </div>
  </section>

  <section id="clientes">
    <div class="clientes list-carousel">
      <h1>Clientes</h1>
      <ul id="clientescarousel">
        <li><%= image_tag 'new_ui/participantes/exemplo_1.jpg' %></li>
        <li><%= image_tag 'new_ui/participantes/exemplo_2.jpg' %></li>
        <li><%= image_tag 'new_ui/participantes/exemplo_3.jpg' %></li>
        <li><%= image_tag 'new_ui/participantes/exemplo_4.jpg' %></li>
        <li><%= image_tag 'new_ui/participantes/exemplo_5.jpg' %></li>
        <li><%= image_tag 'new_ui/participantes/exemplo_6.jpg' %></li>
        <li><%= image_tag 'new_ui/participantes/exemplo_7.jpg' %></li>
        <li><%= image_tag 'new_ui/participantes/exemplo_8.jpg' %></li>
        <li><%= image_tag 'new_ui/participantes/exemplo_9.jpg' %></li>
      </ul>
    </div>
  </section>

  <section id="contato">
    <div class="contato">
      <h1>Contato</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <form action="">
        <input type="text" placeholder="Nome">
        <input type="text" placeholder="Email">
        <textarea name="" id="" rows="10" placeholder="Mensagem"></textarea>
        <input type="submit" value="Enviar">
      </form>
    </div>
  </section>

</div>


<script>
  $('.main-header .nav li a').click(function() {
    $(window).scrollTo($(this).attr('href'), 1000, {
      offset: -46
    });
  });

  $("#clientescarousel").carouFredSel({
    auto: {
      items: 5,
      duration: 10000,
      easing: "linear",
      timeoutDuration: 2000,
      pauseOnHover: "immediate"
    }
  });

  $('#clientescarousel img').adipoli({
    'startEffect': 'grayscale',
    'hoverEffect': 'normal'
  });
</script>
