<div class="home-wrapper">

  <section id="video" class="video">
    <div class="content-wrapper home">
    <article>
      <ul>
        <li><span class="icons"></span>Diagramação Online</li>
        <li><span class="icons"></span>Apoio Editorial</li>
        <li><span class="icons"></span>Impressão Digital</li>
      </ul>
      <div class="embed"></div>
    </article>
    <a class="saiba-mais" href="#"> Saiba Mais</a>
    <a class="contrate" href="#">Contrate</a>
    </div>
  </section>

  <section id="quem-somos" class="quem-somos">
    <div class="content-wrapper home">
      <h1>Quem Somos</h1>
      <ul>
        <li>
          <div class="user">
            <figure>
              <%= image_tag 'new_ui/avatar.jpg' %>
            </figure>
            <h2 for="">Jorge Sallum</h2>
          </div>
          <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
        </li>
        <li>
          <div class="user">
            <figure>
              <%= image_tag 'new_ui/avatar.jpg' %>
            </figure>
            <h2 for="">Nome Sobrenome</h2>
          </div>
          <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
        </li>
        <li>
          <div class="user">
            <figure>
              <%= image_tag 'new_ui/avatar.jpg' %>
            </figure>
            <h2 for="">Nome Sobrenome</h2>
          </div>
          <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
        </li>
      </ul>
    </div>
  </section>

  <section id="como-funciona" class="como-funciona">
    <div class="content-wrapper home">
      <h1>Como Funciona</h1>
      <article>
        <figure class="round">
          <%= image_tag 'new_ui/big-icons-1.png' %>
        </figure>
        <p>Uma plataforma de edição colaborativa, com apoio editorial e impressão digital, na qual professor e alunos interagem para produzir livros de modo fácil e rápido. </p>
      </article>
      <article>
        <figure class="round">
          <%= image_tag 'new_ui/big-icons-2.png' %>
        </figure>
        <p>Apoio editorial por profissionais da área, para editar e <br>produzir seu livro.</p>
      </article>
      <article>
        <figure class="round">
          <%= image_tag 'new_ui/big-icons-3.png' %>
        </figure>
        <p>Arquivos ebook ou pdf gratuito e a possibilidade de imprimir <br> o livro da sua escola na tiragem desejada.</p>
      </article>
    </div>
  </section>

  <section id="clientes" class="clientes">
    <div class="content-wrapper list_carousel home">
      <h1>Clientes</h1>
      <ul id="foo0">
        <li>
          <img alt="Qranio" src="assets/participantes/qranio.png" style="display: none;">
        </li>
        <li>
          <img alt="Scup" src="assets/participantes/scup.png" style="display: none;">
        </li>
        <li>
          <img alt="Startupfarm" src="assets/participantes/startupfarm.png" style="display: none;">
        </li>
        <li>
          <img alt="Digilant" src="assets/participantes/digilant.png" style="display: none;">
        </li>
        <li>
          <img alt="Qranio" src="assets/participantes/qranio.png" style="display: none;">
        </li>
        <li>
          <img alt="Scup" src="assets/participantes/scup.png" style="display: none;">
        </li>
        <li>
          <img alt="Startupfarm" src="assets/participantes/startupfarm.png" style="display: none;">
        </li>
        <li>
          <img alt="Digilant" src="assets/participantes/digilant.png" style="display: none;">
        </li>
        <li>
          <img alt="Qranio" src="assets/participantes/qranio.png" style="display: none;">
        </li>
        <li>
          <img alt="Scup" src="assets/participantes/scup.png" style="display: none;">
        </li>
        <li>
          <img alt="Startupfarm" src="assets/participantes/startupfarm.png" style="display: none;">
        </li>
        <li>
          <img alt="Digilant" src="assets/participantes/digilant.png" style="display: none;">
        </li>
        <li>
          <img alt="Qranio" src="assets/participantes/qranio.png" style="display: none;">
        </li>
        <li>
          <img alt="Scup" src="assets/participantes/scup.png" style="display: none;">
        </li>
        <li>
          <img alt="Startupfarm" src="assets/participantes/startupfarm.png" style="display: none;">
        </li>
        <li>
          <img alt="Digilant" src="assets/participantes/digilant.png" style="display: none;">
        </li>
      </ul>
    </div>
  </section>

  <section id="planos" class="planos">
    <div class="content-wrapper home">
      <h1>Planos</h1>
      <ul>
        <li class="plano">
          <header>Plano Básico</header>
          <div class="preco">
            <p>Gratiuto</p>
            <span>por porjeto</span>
          </div>
          <ul>
            <li>1000 Edicção Colaborativa</li>
            <li>PDF</li>
            <li>E-book</li>
          </ul>
          <a href="">Contratar</a>
        </li>
        <li class="plano">
          <header>Plano Intermediário</header>
          <div class="preco">
            <p><span>R$</span>90</p>
            <span>mês</span>
          </div>
          <ul>
            <li>Edicção Colaborativa</li>
            <li>PDF</li>
            <li>E-book</li>
            <li>Suporte por e-mail</li>
            <li>Alteraação da capa</li>
          </ul>
          <a href="">Contratar</a>
        </li>
        <li class="plano">
          <header>Plano Completo</header>
          <div class="preco">
            <p><span>R$</span>990</p>
            <span>por porjeto</span>
          </div>
          <ul>
            <li>Edicção Colaborativa</li>
            <li>PDF</li>
            <li>E-book</li>
            <li>Suporte por chat/telefone</li>
            <li>Alteração de Templates</li>
            <li>Rotinas de Revisão</li>
            <li>Diagramação Assistida</li>
            <li>Produção Grafica</li>
            <li>Até 5 livros por plano</li>
          </ul>
          <a href="">Contratar</a>
        </li>
      </ul>
    </div>
  </section>

  <section id="contato" class="contato">
    <div class="content-wrapper home">
      <h1>Contato</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <form action="">
        <input type="text">
        <input type="text">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input type="submit">
      </form>
    </div>
  </section>

</div>

<script>

$('#wrap header.main-header .main-nav ul li a').click(function(){
  $(window).scrollTo($(this).attr('href'), 1000)
})

  //  Basic carousel, no options
  $("#foo0").carouFredSel({
    auto  : {
      items       : 5,
      duration    : 22000,
      easing      : "linear",
      timeoutDuration : 10000,
      pauseOnHover  : "immediate"
    }
  });


  $('#foo0 img').adipoli({
      'startEffect' : 'grayscale',
      'hoverEffect' : 'normal'
  });
</script>
