<%= simple_form_for([:admin, @rule], :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :label, labe: 'Label:' %>
    <%= f.input :command, as: :text, label: 'Comando:'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
