<table class="table table-striped">
  <tr>
    <th></th>
    <th>Título</th>
    <th>Criado em</th>
    <th>Modificado em</th>
    <th>Template</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <% if @projects %>
    <% @projects.each do |project| %>
      <tr>
        <td><%= pdf_status(project.book) %></td>
        <td><%= link_to title_text(project.book), admin_project_path(project) %>, (<%= project.book.organizer.name.presence || project.book.organizer.email %>, org.)</td>
        <td><%= l(project.book.created_at, :format => :short) %></td>
        <td><%= l(project.book.accessed_at, :format => :short) if project.book.accessed_at %></td>
        <td><%= project.book.template %></td>
        <td><%= project.status_to_s %></td>
        <td><%= admin_book_status(project.book) %></td>
        <td><%= link_to 'Editar', edit_admin_project_path(project), :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<% if current_user.admin?%>
<div class="btn-group dropdown">
  <button type="button" class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown">
    <%= t('admin_tasks') %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li>
      <%= link_to t('book_pdf_check'), admin_projects_refresh_path %>
    </li>
    <li>
      <%= link_to t('book_push_all'), admin_projects_push_path %>
    </li>
  </ul>
</div> 
<% end %>