<h1>Editar perfil</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :school_name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit 'Gravar alterações' %>
<% end %>
