<h3><%=t :email_ask_heading %></h3>
<p><%=t :email_ask_body %></p>

<%= simple_form_for @user do |f| %>
  <%= f.input :email %>
  <%= f.input :email_gate , as: :fake_hidden, label: false, input_html: { value: "true" } %>
  <%= f.submit 'Salvar endereço' %>
<% end %>
