<h1>Cadastre a sua escola</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :educator, :inline_label => "Você é educador?", :label => false %>
  <%= f.input :student_count %>
  <%= f.input :school_name %>
  <%= f.button :submit %>
<% end %>

<p>Ou cadastre-se pelos serviços:

<%= link_to 'Twitter', '#' %>
