<h1 style="margin: 0 0 40px 0;">Lista de projetos</h1>

<table class="table table-striped">
  <tr>
    <th>Título</th>
    <th></th>
    <th>Template</th>
    <th></th>
    <th>Textos</th>
  </tr>
  <% if @projects %>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.book.title, admin_project_path(project) %>, (<%= book.organizer.name.presence || book.organizer.email %>, org.)</td>
        <td><%= link_to 'Editar', edit_admin_project_path(project) %></td>
        <td><%= project.book.template %></td>
        <td><%= admin_book_status(project.book) %></td>
        <td><%= raw project.book.texts.size %></td>
      </tr>
    <% end %>
  <% end %>
</table>
