<h1>Projeto: <%= @project.book.title %></h1>
<h4 style="margin: 0 0 40px 0;">
  Usuário: <%= @project.book.organizer.name %> (<%= @project.book.organizer.email %>)
</h4>

<%= link_to 'Acessar...', impersonate_admin_project_path(@project), class: 'btn btn-large', disable_with: 'Acessando...' %>

<% if @project.engaged? %>
<dl>
  <dt>Data de lançamento</dt>
  <dd><%= @project.release_date %></dd>
</dl>
<% end %>
