<%= simple_form_for(:request_contact_form, :url => send_lead_path, :html => {:class => 'form_vertical'}) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= field_set_tag 'Dados pessoais' do %>
			<%= f.input :nome_completo %>
			<%= f.input :email %>
			<%= f.input :cargo %>
		<% end %>
		<%= field_set_tag 'Dados da escola' do %>
			<%= f.input :nome_da_escola %>
			<%= f.input :estado %>
			<%= f.input :cidade %>
			<%= f.input :telefone %>
		<% end %>
	</div>

	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>