	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

	<div id="home">

		<section id="intro">
			<div class="inner-wrap flex flex-row">
				<div class="intro flex-7">
					<h1><%= t :who_are_we %></h1>
					<p><%= t :who_are_we_text %><br/><a href="http://www.scielo.br/scielo.php?script=sci_home&lng=pt&nrm=iso" target="_blank"><%= t :see_more %></a></p>
				</div>
				<div class="new_user cadastro-login flex-3">
					<%= simple_form_for :signin, { :url => sessions_path } do |f| %>
					<div class="control-group email required user_email">
						<div class="controls">
							<%= f.input :email, label: false, placeholder: (t :public_email), class: 'string email required', input_html: { size: 50 } %>
						</div>
					</div>
					<div class="control-group password required user_password">
						<div class="controls">
							<%= f.input :password, label: false, placeholder: (t :public_password), class: 'password required', input_html: { size: 50 } %>
						</div>
					</div>
					<%= submit_tag (t :public_sign_in), disable_with: (t :signing) %>
					<%= content_tag :p, link_to( (t :forgot_your_password), new_password_reset_path) %>
					<% end %>
				</div>
			</div>
		</section>

		<section id="servicos">
			<div class="servicos inner-wrap">
				<h1><%= t :services %></h1>
				<%= (t :services_text).html_safe %>
			</div>
		</section>

		<section id="clientes">
			<div class="clientes inner-wrap">
				<h1><%= t :partners %></h1>
				<ul id="clientescarousel">
					<li><%= image_tag "scielo/partner-fapesp.png" %></li>
					<li><%= image_tag "scielo/partner-cnpq.png" %></li>
					<li><%= image_tag "scielo/partner-bvs.png" %></li>
					<li><%= image_tag "scielo/partner-bireme.png" %></li>
					<li><%= image_tag "scielo/partner-fap.png" %></li>
				</ul>
			</div>
		</section>

		<section id="contato">
			<div class="contato inner-wrap flex flex-row">
				<div class="flex-5">
					<h1><%= t :contact %></h1>
					<%= (t :contact_text).html_safe %>
				</div>
				<div class="flex-5">
					<form action="/contact" method="post">
						<input type="text" name="name" placeholder="<%= t :public_name %>">
						<input type="text" name="email" placeholder="<%= t :public_email %>">
						<textarea name="content" id="" rows="10" placeholder="<%= t :public_message %>" style="resize:none"></textarea>
						<input type="submit" value="<%= t :public_send %>" data-disable-with="<%= t :public_sending %>">
					</form>
				</div>
			</div>
		</section>
		
	</div>



	<!-- JS -->
	<script>
	$(document).ready(function() {

		$("#clientescarousel").carouFredSel({
			auto: {
				duration: 10000,
				easing: "linear",
				timeoutDuration: 0,
				pauseOnHover: "immediate"
			}
		});

		//$('#clientescarousel img').adipoli({
		//  'startEffect': 'grayscale',
		//  'hoverEffect': 'normal'
		//});


		$('.saiba-mais').click(function() {
			$('#saiba-mais-content').modal();
			return false;
		});
	});
	</script>
