<h1>Projeto</h1>

<%= simple_form_for(@project, :url => { :action => :update }) do |f| %>
  <div class="form-inputs">
    <div>
      Data de finalização<br>
      <span style="font-weight: bold;"><%=l @project.finish_date %></span>
    </div>
    <%= f.input :release_date, :as => :date_picker %>
    <%= f.file_field :school_logo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
