<p>Para editar e imprimir este livro, você contará com nosso apoio editorial.</p>

<h2>Formatos e preços</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Formato</th>
      <th>Cor</th>
      <th>Núm. páginas</th>
      <th>Preço unitário</th>
      <th>Páginas extras</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>21 x 14 cm</td>
      <td>4x4 cores</td>
      <td>até 48 pp.</td>
      <td>R$ 20,00</td>
      <td>R$ 0,40</td>
    </tr>
    <tr>
      <td>14 x 21 cm</td>
      <td>1x1 cores</td>
      <td>até 100 pp.</td>
      <td>R$ 20,00</td>
      <td>R$ 0,20</td>
    </tr>
    <tr>
      <td>16 x 23 cm</td>
      <td>1x1 cores</td>
      <td>até 90 pp.</td>
      <td>R$ 22,00</td>
      <td>R$ 0,22</td>
    </tr>
  </tbody>
</table>

<h2>Formulário de adesão</h2>

<%= simple_form_for(@project, :url => { :action => :create }) do |f| %>
  <div class="form-inputs">
    <%= field_set_tag "Dados do projeto" do %>
      <%= f.input :release_date, :as => :date_picker, :hint => "Quando você deseja lançar o seu livro?" %>
    <% end %>

    <%= field_set_tag "Dados pessoais" do %>
      <%= f.simple_fields_for :client do |c| %>
        <%= c.input :user_id, :as => :hidden %>
        <%= c.input :name %>
        <%= c.input :email %>
        <%= c.input :phone, :placeholder => 'Ex.: (11) 9999-9999' %>
        <%= c.input :position, :collection => ['Professor', 'Coordenador', 'Diretor', 'Outros'] %>
        <%= c.input :company %>
      <% end %>
    <% end %>

    <%= field_set_tag "Termos de serviço" do %>
      <div class="terms">
        <%= render 'terms_of_service' %>
      </div>
      <%= f.input :terms_of_service, :as => :boolean, :label => false, :inline_label => "Li e aceito os termos acima" %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
