<h1>Começar o Livro da Classe</h1>

<p>Para editar e imprimir este livro, você contará com nosso apoio editorial.</p>

<h2>Formatos e preços</h2>

<table class="table">
  <tr>
    <th>Coluna 1</th>
    <th>Coluna 2</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>

<h2>Formulário de adesão</h2>

<%= simple_form_for(@project, :url => book_projects_path(@book.uuid)) do |f| %>
  <div class="form-inputs">
    <%= field_set_tag "Dados do projeto" do %>
      <%= f.input :release_date, :as => :string, :hint => "Quando você deseja lançar o seu livro?" %>
    <% end %>

    <%= field_set_tag "Dados pessoais" do %>
      <%= f.simple_fields_for :client do |c| %>
        <%= c.input :name, :placeholder => @project.client.name %>
        <%= c.input :email, :placeholder => @project.client.email %>
        <%= c.input :phone %>
        <%= c.input :position %>
        <%= c.input :company %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
