<%= simple_form_for(@project, :url => { :action => :create }, :html => { :multipart => true }) do |f| %>

<p>Para editar e imprimir este livro, você contará com nosso apoio editorial.</p>

<h2>Formatos e preços</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Formato</th>
      <th>Cor</th>
      <th>Núm. páginas</th>
      <th>Preço unitário</th>
      <th>Páginas extras</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.radio_button :publish_format, '21 x 14 cm', :checked => true, :class => 'format-radio' %>21 x 14 cm</td>
      <td>4x4 cores</td>
      <td>até 48 pp.</td>
      <td>R$ 20,00</td>
      <td>R$ 0,40</td>
    </tr>
    <tr>
      <td><%= f.radio_button :publish_format, '14 x 21 cm', :class => 'format-radio' %>14 x 21 cm</td>
      <td>1x1 cores</td>
      <td>até 100 pp.</td>
      <td>R$ 20,00</td>
      <td>R$ 0,20</td>
    </tr>
    <tr>
      <td><%= f.radio_button :publish_format, '16 x 23 cm', :class => 'format-radio' %>16 x 23 cm</td>
      <td>1x1 cores</td>
      <td>até 90 pp.</td>
      <td>R$ 22,00</td>
      <td>R$ 0,22</td>
    </tr>
  </tbody>
</table>

<h2>Formulário de adesão</h2>


  <div class="form-inputs">
    <%= field_set_tag "Dados do projeto" do %>
      <%= f.input :release_date, :as => :date_picker, :label => t(:release_date_label) %>
      <label for="project_school_logo"><%= t(:school_logo_label) %></label>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=sem+imagem" /></div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
        <div>
          <span class="btn btn-file"><span class="fileupload-new">Selecionar imagem</span><span class="fileupload-exists">Alterar</span>
          <%= f.input_field :school_logo, :as => :file %>
          </span>
          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
        </div>
      </div>
    <% end %>

    <%= field_set_tag "Dados pessoais" do %>
      <%= f.simple_fields_for :client do |c| %>
        <%= c.input :user_id, :as => :hidden %>
        <%= c.input :name %>
        <%= c.input :email %>
        <%= c.input :phone, :placeholder => 'Ex.: (11) 9999-9999' %>
        <%= c.input :position, :collection => ['Professor', 'Coordenador', 'Diretor', 'Outros'] %>
        <%= c.input :company %>
      <% end %>
    <% end %>

    <%= field_set_tag "Termos de serviço" do %>
      <div class="terms">
        <%= render 'terms_of_service' %>
      </div>
      <div class="terms-actions">
        <%= f.input :terms_of_service, :as => :boolean, :label => false, :inline_label => "Li e aceito os termos acima" %>
        <%= link_to "Imprimir os termos", terms_of_service_path(:format => :pdf), :target => '_blank' %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
