<h1>Começar o Livro da Classe</h1>

<p>Para editar e imprimir este livro, você contará com nosso apoio editorial.</p>

<h2>Formatos e preços</h2>

<table class="table">
  <tr>
    <th>Coluna 1</th>
    <th>Coluna 2</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>

<h2>Dados pessoais</h2>
<%= simple_form_for @client do |f| %>
  <div class="form-inputs">
    <%= f.input :name, :placeholder => @client.name %>
    <%= f.input :email, :placeholder => @client.email %>
    <%= f.input :phone %>
    <%= f.input :position %>
    <%= f.input :company %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
