<%= simple_form_for([:admin, @expression], :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
        <%= f.input :target %>
        <%= f.input :replace %>
        <%= f.input :description %>
        <%= f.input :level, :default_value => 1, :input_html => {:min => 1, :max => 3} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>