<% if @expressions.present? %>
  <div class="row">
    <div class="span9">
      <h1>Expressões</h1>
    </div>

    <div class="span3">
      <%= link_to 'Nova Expressão', new_admin_expression_path, :class => 'btn btn-primary btn-new' %>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Nível</th>
      <th>Id</th>
      <th>Expressão a ser substituída</th>
      <th>Expressão Substituta</th>
      <th>Descrição</th>
      <th></th>
      <th></th>
    </tr>
    <% @expressions.each do |expression| %>
      <tr>
        <td><%= expression.level %></td>   
        <td><%= "##{expression.id}" %></td>     
        <td><%= expression.target %></td>
        <td><%= expression.replace %></td>
        <td><%= expression.description %></td>
        <td><%= link_to 'Editar', edit_admin_expression_path(expression), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Remover', admin_expression_path(expression), :class => 'btn btn-danger btn-mini', :confirm => 'Tem certeza que deseja apagar esta expressão de substituição?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="blank">Nenhuma expressão cadastrada. <%= link_to 'Definir uma nova expressão de substituição?', new_admin_expression_path %></p>
<% end %>