<div id="book-info">
  <div class="container">
    <small>Livro selecionado</small>
    <h2 class="book-title"><%= @book.title %></h2>
  </div>
  <nav class="book-nav" role="navigation">
    <div class="container">
      <ul>
        <li><%= link_to 'Visão geral', book_path(@book.uuid) %></li>
        <li><%= link_to 'Metadados', edit_book_path(@book.uuid) %></li>
        <li><%= link_to 'Textos', book_texts_path(@book.uuid) %></li>
        <li><%= link_to 'Colaboradores', book_collaborators_path(@book.uuid) %></li>
        <li><%= link_to 'PDF', book_path(@book.uuid, :format => "pdf")  %></li>
      </ul>
    </div>
  </nav>
</div>
