<div id="book-info">
  <div class="container">
    <div class="row">
      <div class="span1">
        <img src="http://placehold.it/60x80">
      </div>
      <div class="span8">
        <h2 class="book-title"><%= @book.title %></h2>
        <nav class="book-nav" role="navigation">
          <ul>
            <li><%= link_to 'Visão geral', book_path(@book.uuid) %></li>
            <% if is_organizer? %>
            <li><%= link_to 'Metadados', edit_book_path(@book.uuid) %></li>
            <% end %>
            <li><%= link_to 'Textos', book_texts_path(@book.uuid) %></li>
            <% if is_organizer? %>
            <li><%= link_to 'Colaboradores', book_collaborators_path(@book.uuid) %></li>
            <% end %>
            <li><%= link_to 'PDF', book_path(@book.uuid, :format => "pdf")  %></li>
          </ul>
        </nav>
      </div>
      <div class="span3">
        <%= link_to 'Quero fazer o Livro da Classe', new_book_project_path(@book.uuid), :class => 'btn btn-primary btn-new' %>
      </div>
    </div>
  </div>
</div>
