<div id="book-info">
  <div class="container">
    <div class="row">
      <div class="span1">
        <%= book_cover %>
      </div>
      <div class="span8">
        <h2 class="book-title"><%= @book.title %></h2><%= remaining_label(@book.project) if @book.project.present? and @book.project.engaged? %>
        <nav role="navigation">
          <ul class="nav nav-pills">
            <% if is_organizer? %>
              <%= menu_item t(:book_data, :scope => :book_nav), edit_book_path(@book.uuid) %>
            <% end %>

            <% if is_organizer? %>
              <%= menu_item t(:collaborators, :scope => :book_nav), book_collaborators_path(@book.uuid) %>
            <% end %>

            <% if can_read? or can_write? %>
              <%= menu_item t(:texts, :scope => :book_nav), book_texts_path(@book.uuid) %>
            <% end %>

            <% if can_execute? and @book.valid %>
              <%= menu_item t(:pdf, :scope => :book_nav), book_path(@book.uuid, :format => "pdf"), true  %>
            <% end %>

            <% if is_organizer? && is_project? && can_execute? %>
              <%= menu_item t(:project, :scope => :book_nav), edit_book_project_path(@book.uuid, @book.project.id) %>
            <% end %>
            
            <%= menu_item t(:overview, :scope => :book_nav), book_path(@book.uuid) %>
            
            <% if is_organizer? && !is_project? && can_execute? %>
              <%= menu_item t(:publish, :scope => :book_nav), edit_book_project_path(@book.uuid, @book.project.id) %>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="span3 book-info-aux">
        <%= image_tag(@book.project.school_logo.url) if @book.project.present? && @book.project.school_logo.present? %>
      </div>
    </div>
  </div>
</div>
