<div id="book-info">
  <div class="container">
    <div class="row">
      <div class="span1">
        <% if @book.cover.present? %>
          <%= link_to(image_tag(@book.cover.url(:thumb)), @book.cover.url(:content), :class => 'cover-modal') %>
        <% else %>
          <a href="http://2.bp.blogspot.com/-MEkIz1Bld0c/T_4oRfvREPI/AAAAAAAAA8k/wZHwb6kUPlw/s1600/blank+book+cover.jpg" class="cover-modal">
            <img src="http://2.bp.blogspot.com/-MEkIz1Bld0c/T_4oRfvREPI/AAAAAAAAA8k/wZHwb6kUPlw/s1600/blank+book+cover.jpg">
          </a>
        <% end %>
      </div>
      <div class="span8">
        <h2 class="book-title"><%= @book.title %></h2><%= remaining_label(@book.project) if @book.project.present? %>
        <nav role="navigation">
          <ul class="nav nav-pills">
            <%= menu_item t(:overview, :scope => :book_nav), book_path(@book.uuid) %>
            <% if is_organizer? %>
              <%= menu_item t(:book_data, :scope => :book_nav), edit_book_path(@book.uuid) %>
            <% end %>
            <%= menu_item t(:texts, :scope => :book_nav), book_texts_path(@book.uuid) %>
            <% if is_organizer? %>
              <%= menu_item t(:collaborators, :scope => :book_nav), book_collaborators_path(@book.uuid) %>
            <% end %>
            <%= menu_item t(:pdf, :scope => :book_nav), book_path(@book.uuid, :format => "pdf")  %>
            <% if is_organizer? && is_project? %>
              <%= menu_item t(:project, :scope => :book_nav), edit_book_project_path(@book.uuid, @book.project.id) %>
            <% end %>
            <% if is_organizer? && !is_project? %>
              <%= menu_item t(:publish, :scope => :book_nav), new_book_project_path(@book.uuid) %>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="span3 book-info-aux">
        <%= image_tag(@book.project.school_logo.url) if @book.project.present? && @book.project.school_logo.present? %>
      </div>
    </div>
  </div>
</div>
