<div id="book-info">
  <div class="container">
    <div class="row">
      <div class="span1">
        <img src="http://placehold.it/60x80">
      </div>
      <div class="span8">
        <h2 class="book-title"><%= @book.title %></h2>
        <nav role="navigation">
          <ul class="nav nav-pills">
            <%= menu_item 'Visão geral', book_path(@book.uuid) %>
            <% if is_organizer? %>
              <%= menu_item 'Metadados', edit_book_path(@book.uuid) %>
            <% end %>
            <%= menu_item 'Textos', book_texts_path(@book.uuid) %>
            <% if is_organizer? %>
              <%= menu_item 'Colaboradores', book_collaborators_path(@book.uuid) %>
            <% end %>
            <%= menu_item 'PDF', book_path(@book.uuid, :format => "pdf")  %>
            <% if is_organizer? && is_project? %>
              <%= menu_item 'Projeto', edit_book_project_path(@book.uuid, @book.project.id) %>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="span3">
        <% unless @book.project %>
          <%= link_to 'Quero fazer o Livro da Classe', new_book_project_path(@book.uuid), :class => 'btn btn-primary btn-new' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
