<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function($){
    var $collapsables = $('.collapsable-section');
    $collapsables.each(function(i){
        var $label = $(this).find('.collapse-click').filter(':first');
        var $fields = $(this).find('.fields').filter(':first');
        $label.click(function(e){
            $fields.slideToggle(200);
        });
    });

    $collapsables.each(function(i){
        var $label = $(this).find('.collapse-click').filter(':first');
        var $fields = $(this).find('.fields').filter(':first');
        $fields.slideToggle(0);
    });
  });
</script>

<%= simple_form_for(@book, :html => {:class => 'form-vertical', :multipart => true}) do |b| %>
  <%= b.error_notification %>

  <div class="form-inputs">
        <h3><%= t('book_desc') unless @book.new_record? %></h3>

        <%= b.simple_fields_for @book.book_data do |f| %>
          <%= render :partial => '/book_datas/general', :locals => {:f => f, :b => b} %>
          <div class="collapsable-section">
            <%= render :partial => '/book_datas/cover', :locals => {:f => f, :b => b} %>
          </div>
          <div class="collapsable-section">
            <%= render :partial => '/book_datas/credits', :locals => {:f => f} %>
          </div>
          <div class="collapsable-section">
            <%= render :partial => '/book_datas/cataloging', :locals => {:f => f} %>
          </div>
          <div class="collapsable-section">
            <%= render :partial => '/book_datas/partners', :locals => {:f => f} %>
          </div>
          <div class="collapsable-section">
            <%= render :partial => '/book_datas/apparatus', :locals => {:f => f} %>
          </div>
          <div class="collapsable-section">
            <%= render :partial => '/book_datas/technical', :locals => {:f => f} %>
          </div>
          <div class="collapsable-section">
            <%= render :partial => '/book_datas/metadata', :locals => {:f => f} %>
          </div>
          <div class="collapsable-section">
            <%= render :partial => '/book_datas/ebook', :locals => {:f => f} %>
          </div>
        <% end %>
  </div>

  <div class="form-actions">
    <%= b.button :submit, @book.new_record? ? t('book_create') : t('book_update') %>
    <%= raw("ou ") + link_to("Cancelar", @book, :style => "color: red;" ) unless @book.new_record?%>
  </div>
<% end %>
