<%= simple_form_for(@book, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
        <h3> <%= "Livro" unless @book.new_record? %> </h3>
        <%= f.input :title, :input_html => {:maxlength => 54 } %>
        <%= render 'team', :f => f %>
        <%= render 'cover', :f => f %>
        <%= render 'cataloging', :f => f %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= raw("ou ") + link_to("Cancelar", @book, :style => "color: red;" ) unless @book.new_record?%>
  </div>
<% end %>
