<%= simple_form_for(@book, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
        <h3> <%= t('book_desc') unless @book.new_record? %> </h3>
        <%= f.input :title, :label => t('book_title'), :input_html => {:maxlength => 54 } %>
        <%= render 'team', :f => f %>
        <%= render 'cover', :f => f %>
        <%= render 'cataloging', :f => f %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, @book.new_record? ? t('book_create') : t('book_update') %>
    <%= raw("ou ") + link_to("Cancelar", @book, :style => "color: red;" ) unless @book.new_record?%>
  </div>
<% end %>
