<div id="wizard">

  <%= simple_form_for(@book, :html => {:class => 'form-vertical', :multipart => true}) do |b| %>
    <div class="substeps">
      <div class="buttons">
        <ul>
          <li class="selected">
            <button id="general">Informações gerais</button>
          </li>
          <li>
            <button id="originals">Textos Originais</button>
          </li>
          <li>
            <button id="cover">Capa & Layout</button>
          </li>
          <li>
            <button id="credits">Página de créditos</button>
          </li>
          <li>
            <button id="cataloging">Ficha catalográfica</button>
          </li>
          <li>
            <button id="partners">Dados da escola</button>
          </li>
          <% unless @rules.empty? %>
          <li>
            <button id="advanced">Opções Avançadas</button>
          </li>
          <% end %>
          <li hidden>
            <button id="apparatus">Aparatos</button>
          </li>
          <li hidden>
            <button id="technical">Informações técnicas</button>
          </li>
          <li hidden>
            <button id="metadata">Metadata</button>
          </li>
          <li hidden>
            <button id="ebook">Ebook</button>
          </li>
        </ul>
      </div>

      <div class="substep">
        <%= b.error_notification %>
        <div class="form-inputs">
          <%= b.simple_fields_for @book.book_data do |f| %>

          <% if @book.book_data.errors.count > 0 or @book.cover_info.errors.count > 0 %>
          <div class="alert alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <ul>
             <% @book.book_data.errors.messages.each do |key, msg|%>
             <li><%= msg.join('</br>').html_safe%></li>
             <% end %>

             <% @book.cover_info.errors.messages.each do |key, msg|%>
             <li><%= msg.join('</br>').html_safe%></li>
             <% end %>
           </ul>
         </div>
        <% end %>

            <div class="substep-content" id="content-general">
              <%= render :partial => '/book_datas/general', :locals => {:f => f, :b => b} %>
            </div>
            <div class="substep-content" id="content-originals" hidden>
              <%= render :partial => '/book_datas/originals', :locals => {:f => f, :b => b} %>
            </div>
            <div class="substep-content" id="content-cover" hidden>
              <%= render :partial => '/book_datas/cover', :locals => {:f => f, :b => b} %>
            </div>
            <div class="substep-content" id="content-credits" hidden>
              <%= render :partial => '/book_datas/credits', :locals => {:f => f} %>
            </div>
            <div class="substep-content" id="content-cataloging" hidden>
              <%= render :partial => '/book_datas/cataloging', :locals => {:f => f} %>
            </div>
            <div class="substep-content" id="content-partners" hidden>
              <%= render :partial => '/book_datas/partners', :locals => {:f => f} %>
            </div>
            <div class="substep-content" id="content-advanced" hidden>
              <%= render :partial => '/books/rules' %>
            </div>
            <div class="substep-content" id="content-apparatus" hidden>
              <%= render :partial => '/book_datas/apparatus', :locals => {:f => f} %>
            </div>
            <div class="substep-content" id="content-technical" hidden>
              <%= render :partial => '/book_datas/technical', :locals => {:f => f} %>
            </div>
            <div class="substep-content" id="content-metadata" hidden>
              <%= render :partial => '/book_datas/metadata', :locals => {:f => f} %>
            </div>
            <div class="substep-content" id="content-ebook" hidden>
              <%= render :partial => '/book_datas/ebook', :locals => {:f => f} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <%= b.button :submit, @book.new_record? ? t('book_create') : t('book_update'), class: 'btn-success' %>
      <%= link_to 'Voltar', @book, class: 'btn' unless @book.new_record? %>
    </div>
  <% end %>

</div>

<script>
$(document).ready(function(){
  $('.buttons ul li button').click(function() {
    $('.buttons .selected').removeClass('selected');
    $(this).parent().addClass('selected');
    $('.substep-content').hide();
    $('#content-'+$(this).attr('id')).show();
    return false;
  });

<% if @book.book_data.errors.include?(:logo_content_type) %>
// $('.buttons ul li button:eq(2)').click()  will be a bug in this way, so use the way below:

$('.buttons .selected').removeClass('selected');
$('#partners').parent().addClass('selected');
$('.substep-content').hide();
$('#content-partners').show();
$('.bar ul li:lt(3)').addClass('past');
$('.bar ul li:nth-child(4)').addClass('active');

<% end %>

<% if @book.book_data.errors.include?(:imagemficha_content_type) %>
$('.buttons ul li button:eq(3)').first().click()
<% end %>

<% if !(@book.cover_info.errors.messages.keys & [:capa_imagem, :capa_detalhe]).empty? %>
$('.buttons ul li button:eq(1)').first().click()
<% end %>

})


</script>
