<% content_for :head do %>
	<%= stylesheet_link_tag 'publish/wizard', media: 'all' %>
<% end %>




<% @body_class = 'cleanbox-body top' %>




<!-- main-base -->
<main class="base">


	<!-- Hidden -->
	<input type="hidden" id="book_id" value="<%= @book.uuid %>">



	<!-- header -->
	<header>
		<h1 class="title sans-light tc-blue ts-28">Publique</h1>
		<a rel="cleanbox-close" href="#" class="close">
			<svg viewBox="0 0 18 18">
				<path d="M 1 1 L 17 17 " stroke="#1358a2" stroke-width="1.2" fill="none"/>
				<path d="M 17 1 L 1 17 " stroke="#1358a2" stroke-width="1.2" fill="none"/>
			</svg>
		</a>
	</header>



	<!-- progress-bar -->
	<nav class="progress-bar flex-center">
		<ul class="default">
			<li><a href="#" data-step="step-content" class="sans-regular ts-18 tc-blue-light-extra">Conteúdo</a></li>
			<li><a href="#" data-step="step-look" class="sans-regular ts-18 tc-blue-light-extra">Aparência</a></li>
			<li><a href="#" data-step="step-metadata" class="sans-regular ts-18 tc-blue-light-extra">Metadados</a></li>
			<li><a href="#" data-step="step-colaborators" class="sans-regular ts-18 tc-blue-light-extra">Colaboradores</a></li>
			<li><a href="#" data-step="step-download" class="sans-regular ts-18 tc-blue-light-extra">Publicar</a></li>
		</ul>
		<div class="base-on">
			<ul class="on">
				<li><a href="#" data-step="step-content" class="sans-regular ts-18 tc-blue-light-extra">Conteúdo</a></li>
				<li><a href="#" data-step="step-look" class="sans-regular ts-18 tc-blue-light-extra">Aparência</a></li>
				<li><a href="#" data-step="step-metadata" class="sans-regular ts-18 tc-blue-light-extra">Metadados</a></li>
				<li><a href="#" data-step="step-colaborators" class="sans-regular ts-18 tc-blue-light-extra">Colaboradores</a></li>
				<li><a href="#" data-step="step-download" class="sans-regular ts-18 tc-blue-light-extra">Publicar</a></li>
			</ul>
		</div>
	</nav>



	<!-- steps-contents -->
	<div id="steps">
		
		<!-- :content -->
		<%= render 'publish/content-steps/content' %>


		<!-- :look -->
		<%= render 'publish/content-steps/look' %>


		<!-- :metadata -->
		<%= render 'publish/content-steps/metadata' %>


		<!-- :colaborators -->
		<%= render 'publish/content-steps/colaborators' %>


		<!-- :download -->
		<%= render 'publish/content-steps/download' %>

	</div>

</main>




<% content_for :foot do %>
	<%= javascript_include_tag 'publish/wizard' %>
<% end %>