<h2>Capa</h2>
<%= simple_form_for(@cover_info, :url => "update_cover_info", :html => { :multipart => true }) do |f| %>
  <%= f.input :titulo_linha1 %>
  <%= f.input :titulo_linha2 %>
  <%= f.input :titulo_linha3 %>
  <%= f.input :autor %>
  <%= f.input :texto_quarta_capa %>
  Imagem da capa:
  <%= image_tag(@cover_info.capa_imagem.url(:thumb)) if@cover_info.capa_imagem.present? %>
  <%= f.file_field :capa_imagem %>
  <br/>
  <br/>
  Detalhe da capa:
  <%= image_tag(@cover_info.capa_detalhe.url(:thumb)) if@cover_info.capa_detalhe.present? %>
  <%= f.file_field :capa_detalhe %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to "Gerar Capa", book_generate_cover_path(@cover_info.book_id, format: :pdf) %>