

	<!-- Header -->
	<header>
		<h1>Meus livros</h1>
	</header>



	<!-- Actions -->
	<!-- <div class="btn-group">
		<%= link_to 'Novo livro', new_book_path, :class => 'btn btn-primary btn-new btn-small' %>
	</div> -->



	<!-- Content -->
	<div class="books flex flex-row flex-wrap flex-space-between">
		
		<!-- Empty -->
	 	<article class="book empty flex-1">
			<%= link_to '', new_book_path, :class => 'overall' %>
			<figure class="cover"></figure>
			<div class="information">
				<h3>Adiciona novo</h3>
			</div>
		</article>
		<!-- 
			TODO:
				- Add a full svg graphic with awesome dreams.
		 -->



		<!-- List -->
		<% if @books.present? %>
			<% @books.each do |book| %>
				<article class="book flex-1">
					<%= link_to '', book_path(book.uuid), class:'overall' %>
					<figure class="cover"><!-- TODO: add cover image. --></figure>
					<div class="information">
						<h3><%= title_text(book) %></h3>
						<p class="author"><%= book.organizer.name.presence || book.organizer.email %></p>
						<div class="size">
							<p class="pages_count"><%= book_pages(book) %> páginas, </p>
							<p class="chapters_count"><%= raw book.texts.size %> capítulos</p>
						</div>
						<p class="role"><%= book_role_label(book, current_user) %></p>
						<p class="status">Status: <%= book.project.status_to_s %></p>
					</div>
				</article>
			<% end %>
		<% end %>

	</div>
