<% if @books.present? %>
  <div class="row">
    <div class="span9">
      <h1>Originais</h1>
    </div>

    <div class="span3">
      <%= link_to 'Novo original', new_book_path, :class => 'btn btn-primary btn-new' %>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Título</th>
      <th>Documento</th>
      <th>Status</th>
      <th></th>
      <!--<th></th>-->
      <th></th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to title_text(book), book_path(book.uuid) %>, (<%= book.organizer.name.presence || book.organizer.email %>, org.)</td>
        <td><%= book.document.present? ? book.document_file_name : "Nenhum documento" %></td>
        <td><%= book.project.status_to_s %></td>
        <!--<td><%= book_status_label(book) %></td>-->
        <td><%= book_pages(book) %></td>
        <td><%= book_remove_label(book, current_user) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="blank"><%= link_to 'Cadastrar original', new_book_path %></p>
<% end %>
