

	<!-- Header -->
	<header>
		<h1>Meus livros</h1>
	</header>



	<!-- Content -->
	<div class="books flex flex-row flex-wrap flex-space-between">
		
		<!-- Empty -->
	 	<article class="book empty flex-2">
			<%= link_to '', new_book_path, { class:'overall', rel:'cleanbox' } %>
			<figure class="cover"></figure>
			<div class="information">
				<h3>Adiciona novo</h3>
			</div>
		</article>


		<!-- List -->
		<% if @books.present? %>
			<% @books.each do |book| %>
				<article class="book flex-2">
					<%= link_to '', book_path(book.uuid), { class:'overall', rel:'cleanbox' } %>
					<figure class="cover"><%= image_tag book.book_data.capainteira %></figure>
					<div class="information">
						<h3><%= title_text(book) %></h3>
						<p class="author"><%= book.organizer.name.presence || book.organizer.email %></p>
						<div class="size">
							<p class="pages_count"><%= book_pages(book) %> páginas, </p>
							<p class="chapters_count"><%= raw book.texts.size %> capítulos</p>
						</div>
						<p class="role"><%= book_role_label(book, current_user) %></p>
						<p class="status">Status: <%= book.project.status_to_s %></p>
						<p class="remove">
							<%= image_tag '_general/icon-remove.svg' %>
							<%= book_remove_label(book, current_user) %>
						</p>
					</div>
				</article>
			<% end %>
			

			<!-- Placeholder -->
			<article class="book fill flex-2"></article>
			<article class="book fill flex-2"></article>
			<article class="book fill flex-2"></article>
		<% end %>

	</div>
