<h2>Livros</h2>

<table class="table table-striped">
  <tr>
    <th>Título</th>
    <th>Contém os textos</th>
    <th></th>
    <th></th>
  </tr>
<%= render @books %>
</table>

<%= link_to 'Incluir novo livro', new_book_path, :class => 'btn btn-primary' %>

<br /><br />

<h2>Escolas</h2>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @schools.each do |school| %>
  <tr>
    <td><%= link_to school.name, school %></td>
    <td><%= link_to 'Ver', school %></td>
    <td><%= link_to 'Editar', edit_school_path(school) %></td>
    <td><%= link_to 'Apagar', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Incluir nova escola', new_school_path, :class => 'btn btn-primary' %>
