<% if @books.present? %>
  <div class="row">
    <div class="span9">
      <h1>Meus livros</h1>
    </div>

    <div class="span3">
      <%= link_to 'Novo livro', new_book_path, :class => 'btn btn-primary btn-new' %>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Título</th>
      <th></th>
      <th>Textos</th>
      <th>Papel</th>
      <th></th>
      <th></th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book.uuid) %>, (<%= book.organizer.name.presence || book.organizer.email %>, org.)</td>
        <td><%= book_status_label(book) %></td>
        <td><%= raw book.texts.size %></td>
        <td><%= book_role_label(book, current_user) %></td>
        <td><%= book_admin_status_label(book) %></td>
        <td><%= book_remove_label(book, current_user) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="blank">Você não tem nenhum livro. Que tal <%= link_to 'começar um agora?', new_book_path %></p>
<% end %>
