<header>
  <h1>Meus livros</h1>
</header>
<div class="flex flex-row flex-wrap">
  <div class="book new">
   <div class="cover">
     <%= link_to '', new_book_path %>
   </div>
   <div class="info-container">
     <div class="info">Adicionar novo</div>
   </div>
  </div>

  <% @books.each do |book| %>
    <div class="book">
     <div class="cover">
     </div>
     <div class="info-container">
       <h3><%= book.title %></h3>
       <p class="author"><%= book.book_data.autor %></p>
       <div class="size">
         <p class="pages_count"><%= book.pages_count < 0 ? 0 : book.pages_count %> páginas, <%= raw book.texts.size %> capítulos</p>
       </div>
       <div>
         <p class="role"><%= book_role_label(book, current_user) %></p>
         <p class="status"><%= book.project.status_to_s %></p>
       </div>
       <div>
         <p class="remove">
           <%= link_to( image_tag('icon-remove.svg'), admin_users_remove_book_path(:id => current_user.id, :book_id => book.id),
             :confirm => 'Tem certeza que deseja remover essa relação?', :method => :delete) %>
         </p>
       </div>
     </div>
    </div>
  <% end %>
</div>
