<h1>Rotinas</h1>

<% if @rules.present? %>
  <table class="table table-striped">
    <tr>
      <th>Label</th>
      <th class="span1"></th>
    </tr>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.label %></td>
        <td>
          <input type="checkbox" data-handle-width="65px" data-size="mini" data-role="flipswitch" name="switch" id="active_<%= rule.id %>">
          <script>
            $("#active_<%= rule.id %>").bootstrapSwitch('state', <%= rule.active %>);
            $('#active_<%= rule.id %>').on('switchChange.bootstrapSwitch', function (event, state) {
                $.ajax({
                  url: 'rules/active',
                  type: 'POST',
                  data: {
                    id: <%= rule.id %>
                  }
                });
            });
          </script>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="blank">Nenhuma rotina cadastrada.</p>
<% end %>
