<input type="hidden" id="hidden_book_id" value="<%= @book.uuid %>"></input>

<h1>Mural de Conversas</h1>

<% if @scraps.present? %>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Chamado</th>
      <th>Data</th>
      <th>Conversa</th>
      <th></th>
    </tr>
    <% @scraps.each do |scrap| %>
      <tr>
        <td><span class="badge"><%= scrap.answered? ? '!' : '' %></span></td>
        <td><%= "##{scrap.id}" %></td>
        <td><span class="label label-info"><%= scrap.created_at.strftime("%d/%m/%Y") %></span></td>
        <td><%= "#{scrap.content[0..20]}..." %></td>
        <td><%= link_to 'Expandir', scraps_thread_path(scrap), :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </table>
  <div class="btn-group">
    <%= link_to 'Nova Conversa', new_scrap_path(@book.id), :class => 'btn btn-primary btn-new btn-small' %>
  </div>
<% else %>
  <% if can_write? %>
    <p class="blank">Nenhuma conversa encontrada. <%= link_to 'Criar uma nova conversa?', new_scrap_path(@book.id) %></p>
  <% end %>
<% end %>
