<p id="notice"><%= notice %></p>

<h2>Title</h2>
<p><%= @book.title %></p>

<h2>Has Texts</h2>
<p><%= raw @book.texts.map {|x| x.to_label}.join ', ' %></p>

<h2>Full Text</h2>
<% @book.texts.each do |text| %>
<ul>
	<li><%= text.title  %></li>
	<li><%= text.content  %></li>
</ul>
<% end %>

<h2>LaTeX</h2>
<%= full_text(@book) %>
<br>
<br>
<%= lesc full_text(@book) %>

<%= link_to "Print", book_path(:format => :pdf) %> | <%= link_to 'Edit', edit_book_path(@book) %> | <%= link_to 'Back', books_path %>