<div style="float:right;">  
  <p> <i class="icon-globe"></i>&nbsp;URL para alunos: <%= link_to welcome_url(@book.uuid), welcome_url(@book.uuid) %></p>
</div>

<%= render "navigation" %>

  <% if @book.finished_at.present? %>
  <div class="alert">
   <button class="close" data-dismiss="alert">×</button>
  Livro finalizado em <strong><%=  @book.finished_at.strftime("%d/%m/%y") %></strong>
</div>
  <% end %>

<p id="notice"><%= notice %></p>

<br>

<% @book.texts.each do |text| %>
<ul class="text-item">
	<li class="well">
    <div class="text-author"><%= person_name_for(text) %></div>
    <div class="text-words"><strong>Palavras: <%= words_per_text(text.content) %></strong></div>
    <div class="text-finished"><%= text_status_for(text) %></div>
    <div class="text-url"><%= link_to("ver texto", book_text_path(@book.uuid, text.uuid), :class => "btn btn-inverse")  %></div>
  </li>
</ul>
<% end %>
