<p><% if @book.finished_at.present? %>
  <em>Book finished at <%=  @book.finished_at %></em>
<% end %></p>

<p id="notice"><%= notice %></p>

<p><strong>Welcome URL:</strong> <%= link_to "/welcome/#{@book.uuid}", "/welcome/#{@book.uuid}" %></p>

<br>

<% @book.texts.each do |text| %>
<ul class="text-item">
	<li>
    <div class="text-author"><%= person_name_for(text) %></div>
    <div class="text-words"><strong>Palavras: <%= words_per_text(text.content) %></strong></div>
    <div class="text-finished"><%= text_status_for(text) %></div>
    <div class="text-url"><%= link_to("ver texto", book_text_path(@book.uuid, text.uuid))  %></div>
  </li>
</ul>
<% end %>

<br><br>

<p><%= link_to 'View book PDF', pdf_book_path(@book.uuid) %> | <%= link_to 'Edit book', edit_book_path(@book.uuid) %> </p>

<% if session['admin_logged'] %>
<p>	<%= link_to 'Return to admin area', admin_path %> </p>
<% end %>