<div class="row">
  <!-- organizadores -->

  <div class="span4">Organizadores:</div>
  <div class="span8"><%= @book.organizers.presence || raw("<em>n&atilde;o definido</em>") %></div>

  <!-- diretores -->
  <div class="span4">Diretores:</div>
  <div class="span8"><%= @book.directors.presence || raw("<em>n&atilde;o definido</em>") %></div>

  <!-- coordenadores -->
  <div class="span4">Coordenadores:</div>
  <div class="span8"><%= @book.coordinators.presence || raw("<em>n&atilde;o definido</em>") %></div>
</div>
  <input type="hidden" id="hidden_book_id" value="<%= @book.uuid %>"></input>

<div id="recados">
  <h3> Novo recado </h3>
  <div id="novo_recado">
    <textarea id="text_novo_recado" rows="1" cols="30" style="resize:none;"></textarea>
    <button type="button" id="botao_enviar" class="btn btn-primary">Enviar</button>
  </div>
  <h3> Recados </h3>
  <div id="listar_recados">
    <div>
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <% @scraps.each do |scrap|%>
            <tr>
              <td>
                <span class="label label-info"><%= scrap.created_at.strftime("%d/%m/%Y") %></span>
                <%= scrap.content %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


