
<p><% if @book.finished_at.present? %>
  <em>Book finished at <%=  @book.finished_at %></em>
<% end %></p>

<p id="notice"><%= notice %></p>

<h2>Title</h2>
<p><%= @book.title %></p>

<h2>Has Texts</h2>
<p><%= raw @book.texts.map {|x| x.to_label}.join ', ' %></p>

<h2>Full Text</h2>
<% @book.texts.each do |text| %>
<ul>
	<li><strong><%= link_to(text.title, text_path(text.uuid))  %></strong></li>
	<li><%= text.content  %></li>
</ul>
<% end %>

<p><%= link_to "Print", book_path(:format => :pdf) %> | <%= link_to 'Edit', edit_book_path(@book.uuid) %> </p>

<% if session['admin_logged'] %>
<p>	<%= link_to 'Return to admin area', admin_path %> </p>
<% end %>