<%= url_alunos %>

<%= render "navigation" %>

<% if @book.finished_at.present? %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Livro finalizado em <strong><%=  @book.finished_at.strftime("%d/%m/%y") %></strong>
  </div>
<% end %>

<%= flash_message %>

<br>

<ul id="text-list" data-update-url="<%= sort_book_texts_url %>">
  <% @texts.each do |text| %>
  <li><span class="handle">[drag]</span>&nbsp;<strong><%= text.title %></strong>&nbsp;&nbsp;Autor: <%= person_name_for(text) %>&nbsp;&nbsp;<span class="text-view"><%= link_to("Ver texto", book_text_path(@book.uuid, text.uuid)) %></span></li>
  <% end %>
</ul>

<% if @book.finished_at.nil? %>
  <hr/>
  <div id="book_finished"><%= link_to "Marcar o livro como terminado", finish_book_path(@book.uuid), :class => "btn btn-danger" %></div>
<% end %>