<div style="float:right;">  
  <p> <i class="icon-globe"></i>&nbsp;<%= link_to 'URL para alunos', welcome_url(@book.uuid) %></p>
</div>

<%= render "navigation" %>

<% if @book.finished_at.present? %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Livro finalizado em <strong><%=  @book.finished_at.strftime("%d/%m/%y") %></strong>
  </div>
<% end %>

<%= flash_message %>

<br>

<% @book.texts.each do |text| %>
<ul class="text-item">
  <li class="well">
    <div class="text-author"><%= person_name_for(text) %></div>
    <div class="text-words"><strong>Palavras: <%= words_per_text(text.content) %></strong></div>
    <div class="text-finished"><%= text_status_for(text) %></div>
    <div class="text-url"><%= link_to("ver texto", book_text_path(@book.uuid, text.uuid), :class => "btn btn-primary")  %></div>
  </li>
</ul>
<% end %>

<% if @book.finished_at.nil? %>
  <hr/>
  <div id="book_finished"><%= link_to "Marcar o livro como terminado", finish_book_path(@book.uuid), :class => "btn btn-danger" %></div>
<% end %>