<%= simple_form_for([:admin, @publisher], :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :official_name %>
    <%= f.input :url %>
    <%= f.input :trello_email %>
    <%= f.input :logo %>
    <%= f.input :logo_alternative %>
    <%= f.input :address %>
    <%= f.input :district %>
    <%= f.input :city %>
    <%= f.input :uf %>
    <%= f.input :telephone %>
    <%= f.input :text_email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>