<% if @books.present? %>
  <table class="table table-striped">
    <tr>
      <th>Título</th>
      <th>Criado em</th>
      <th>Modificado em</th>
      <th>Status</th>
      <th>Textos</th>
      <th>Papel</th>
      <th></th>
      <th></th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to title_text(book), book_path(book.uuid) %>, (<%= book.organizer.name.presence || book.organizer.email %>, org.)</td>
        <td><%= l(book.created_at, :format => :short) %></td>
        <td><%= l(book.accessed_at, :format => :short) if book.accessed_at %></td>
        <td><%= book.project.status_to_s %></td>
        <td><%= raw book.texts.size %></td>
        <td><%= book_role_label(book, current_user) %></td>
        <td><%= book_pages(book) %></td>
        <td><%= book_remove_label(book, current_user) %></td>
      </tr>
    <% end %>
  </table>
  <div class="btn-group">
    <%= link_to 'Novo livro', new_book_path, :class => 'btn btn-primary btn-new btn-small' %>
  </div>
<% else %>
  <p class="blank">Você não tem nenhum livro. Que tal <%= link_to 'começar um agora?', new_book_path %></p>
<% end %>
