<h1>Novo Recado</h1>

<%= simple_form_for(@scrap, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :book_id, :as => :hidden, :input_html => { :value => @book.id}  %>
  <%= f.input :content, :as => :text, :label => 'Conteúdo', :input_html => { :style => 'width:98%;' } %>

  <div class="btn-group">
    <%= f.button :submit %>
  </div>
<% end %>
