<%= simple_form_for(@school) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name %>
		<%= f.input :address_1 %>
		<%= f.input :address_2 %>
		<%= f.input :state, :collection => BrazilianStates.names, :selected => @school.state, :input_html => { :id => 'form-school-state' } %>
		<%= f.input :city, :collection => BrazilianStates.find_cities_by_state(@school.state), :selected => @school.city, :input_html => { :id => 'form-school-city' } %>
		<%= f.input :postal_code %>
		<%= f.association :books %>
	</div>

	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>