<p id="notice"><%= notice %></p>

<h1><%= @school.name %></h1>

<dl>
  <dt>Endereço</dt>
  <dd><%= @school.address_1 %></dd>
  <dt>Complemento</dt>
  <dd><%= @school.address_2 %></dd>
  <dt>Cidade</dt>
  <dd><%= @school.city %></dd>
  <dt>Estado</dt>
  <dd><%= @school.state %></dd>
  <dt>CEP</dt>
  <dd><%= @school.postal_code %></dd>
</dl>

<%= link_to 'Editar escola', edit_school_path(@school) %> |
<%= link_to 'Voltar para a home do admin', admin_path %>
