<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= yield(:title).presence || content_tag(:title, "Livro da Classe") %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= yield :meta_tags %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrap">
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <%= link_to 'Livro da Classe - <span style="color: firebrick; font-weight: bold;">Admin</span>'.html_safe, admin_root_path, :class => 'brand' %>
            <ul class="nav">
              <li><%= link_to "Projetos", admin_projects_path %></li>
              <li><%= link_to "Templates", admin_templates_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <%= flash_message %>
      <div id="main" role="main">
        <div class="container">
          <%= yield %>
        </div>
      </div>
      <div id="push"></div>
    </div>
  </body>
</html>
