<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= yield(:title).presence || content_tag(:title, "#{Publisher.get_current_app} - Admin") %>
    <%= stylesheet_link_tag    "public", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= yield :meta_tags %>
  </head>
  <body class="application" >
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrap wrap-app">
      <header class="main-header main-header-app" data-spy="affix">
        <div class="inner-wrap">
          <div class="logo" >
						<%= image_tag "scielo/logo-scielo.png" %>
					</div>

          <nav class="navigation">
            <ul class="nav">
              <!--<li><%= link_to "Templates", admin_templates_path %></li>-->
              <!--<li><%= link_to "Capa Padrão", admin_default_cover_path %></li>-->
              <li><%= link_to t('my_books'), books_path %></li> <!-- class="active" -->
              <li><%= link_to "Expressões", admin_expressions_path if current_user.admin? %></li>
              <li><%= link_to "Recados", admin_scraps_path %></li>
              <li><%= link_to "Status", admin_book_statuses_path if current_user.admin? %></li>
              <li><%= link_to "Perfis", admin_profiles_path if current_user.admin? %></li>
              <li><%= link_to "Permissões", admin_permissions_path if current_user.admin? %></li>
              <li><%= link_to "Rotinas", admin_rules_path if current_user.admin? %></li>
              <li><%= link_to "Usuários", admin_users_path %></li>
              <li><%= link_to "Manual", admin_manual_path if current_user.admin? %></li>
            </ul>
          </nav>
        </div>
      </header>

      <%= flash_message %>
      <section>
        <div>
          <%= yield %>
        </div>
      </section>

      <footer class="main-footer">
        <div class="inner-wrap">
          <div class="footer-bottom">
            <div class="address">
							SciELO - Scientific Electronic Library Online<br />
							Av. Onze de Junho, 269 - Vila Clementino 04041-050 São Paulo SP - Brasil<br />
							Tel.: (55 11) 5083-3639 - Email: scielo@scielo.org
						</div>
            <div class="copyright">Copyright © 2016, Hedra. <%= version_number%></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
