<div class="general-container">
  <p>Descrição...</p>

  <%= b.input :title, :label => t('book_data.titulo'), :input_html => {:maxlength => 54 } %>
  <%= f.input :subtit, :label => t('book_data.subtit'), :input_html => {:maxlength => 54 } %>
  <%= f.input :autor, :label => t('book_data.autor'), :input_html => {:maxlength => 54 } %>
  <%= f.input :sumariotitulo, :label => t('book_data.sumariotitulo') %>
  <%= f.input :sumarioautor, :label => t('book_data.sumarioautor') %>
  <%= f.input :organizador, :label => t('book_data.organizador') %>
  <%= f.input :introdutor, :label => t('book_data.introdutor') %>
  <%= f.input :tradutor, :label => t('book_data.tradutor') %>
</div>

<script>
  $('#book_title').on('focus', function() {
    $('.book_title span').remove();
    $('.book_title label').append("<span> (" + $(this).val().length + "/" + $(this).attr('maxlength') + ")</span>");
  });
    
  $('#book_title').bind('keydown keyup keypress', function() {
    $('.book_title span').html(" (" + $(this).val().length + "/" + $(this).attr('maxlength') + ")");
  });

  $('#book_title').on('blur', function() {
    $('.book_title span').remove();
  });
</script>
