<div class="general-container">
  <h3 id="general" class="collapse-head">Informações Gerais</h3>
  
  <div class="row">
    <div class="span11"><%= b.input :title, :label => t('book_data.titulo'), :input_html => {:maxlength => 54 } %></div>
  </div>

  <div class="row">
    <div class="span4"><%= f.input :subtit, :label => t('book_data.subtit'), :input_html => {:maxlength => 54 } %></div>
    <div class="span4"><%= f.input :autor, :label => t('book_data.autor'), :input_html => {:maxlength => 54 } %></div>
  </div>

  <div class="row">
    <div class="span4"><%= f.input :sumariotitulo, :label => t('book_data.sumariotitulo') %></div>
    <div class="span4"><%= f.input :sumarioautor, :label => t('book_data.sumarioautor') %></div>
  </div>

  <div class="row">
    <div class="span4"><%= f.input :organizador, :label => t('book_data.organizador') %></div>
    <div class="span4"><%= f.input :introdutor, :label => t('book_data.introdutor') %></div>
    <div class="span4"><%= f.input :tradutor, :label => t('book_data.tradutor') %></div>
  </div>
</div>