<div class="originals-container">
  <div class="manual-container">
    <div class="question">
      <span>Você já leu nosso manual?</span>
    </div>
    <div class="btn-group">
      <%= link_to 'Não', manual_path, class: 'btn', target: '_blank' %>
      <%= link_to 'Sim', '#', class: 'btn btn-success', onclick: 'return chaptersContainer();'  %>
    </div>
  </div>
  <div class="chapters-container" hidden="true">
    <div class="question">
      <span>Quantos capítulos tem seu livro? Atenção, não se preocupe com o sumário. Faremos isso para você.</span>
    </div>
    <div class="btn-group">
      <%= link_to 'Voltar', '#', class: 'btn', onclick: 'return manualContainer();' %>
      <%= link_to 'Próximo', '#', class: 'btn', onclick: 'return extrasContainer();'  %>
    </div>
  </div>
  <div class="extras-container" hidden="true">
    <div class="question">
      <span>Além dos capítlos, seu livro algum dos itens abaixo?</span>
    </div>
    <div class="btn-group">
      <%= link_to 'Voltar', '#', class: 'btn', onclick: 'return chaptersContainer();' %>
    </div>
  </div>
</div>

<script>
function chaptersContainer() {
  $('.manual-container').hide();
  $('.extras-container').hide();
  $('.chapters-container').show();
  return false;
}

function manualContainer() {
  $('.manual-container').show();
  $('.chapters-container').hide();
  $('.extras-container').hide();
  return false;
}

function extrasContainer() {
  $('.chapters-container').hide();
  $('.extras-container').show();
  $('.manual-container').hide();
  return false;
}
</script>
