<div class="technical-container">
  <p>Descrição...</p>
  <%= f.input :dimensao, :label => t('book_data.dimensao') %>
  <%= f.input :peso, :label => t('book_data.peso') %>   
  <%= f.input :gramaturamiolo, :label => t('book_data.gramaturamiolo') %>
  <%= f.input :cormiolo, :label => t('book_data.cormiolo') %>
  <%= f.input :grafica, :label => t('book_data.grafica') %>
  <%= f.input :papelmiolo, :label => t('book_data.papelmiolo') %>
</div>
