<div class="technical-container">
  <h3 id="technical" class="collapse-click collapse-head">Informações Técnicas</h3>
  <div class="fields">  
    <div class="row">
      <div class="span5"><%= f.input :dimensao, :label => t('book_data.dimensao') %></div>
      <div class="span5"><%= f.input :peso, :label => t('book_data.peso') %></div>   
    </div>

    <div class="row">
      <div class="span5"><%= f.input :gramaturamiolo, :label => t('book_data.gramaturamiolo') %></div>
      <div class="span5"><%= f.input :cormiolo, :label => t('book_data.cormiolo') %></div>
    </div>
    <div class="row">
      <div class="span5"><%= f.input :grafica, :label => t('book_data.grafica') %></div>
      <div class="span5"><%= f.input :papelmiolo, :label => t('book_data.papelmiolo') %></div>
    </div>
  </div>
</div>