<%= simple_form_for([@book, @text], :html => { :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="span3"><%= f.input :title, :label => false %></div>
    <div class="span3"><%= f.input :subtitle, :label => false,  :placeholder => 'Subtítulo' %></div>
    <div class="span2"><%= f.input :author, :label => false, :placeholder => 'Autor do Capítulo' %></div>
    <% if can_review? %>
      <div class="span2 form-horizontal inline-checkbox"><%= f.input :revised %></div>
    <% end %>
  </div>
  <% if can_git? %>
    <div class="row">
      <div class="span11 fill">
        <%= f.input :git_message, :placeholder => 'Mensagem' %>
      </div>
    </div>
  <% end %>
  <%= f.input :content, :label => false, :as => :ckeditor %>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t(:cancel), book_path(@book.uuid), :class => 'btn' %>
<% end %>


<!-- Modal -->
<div class="modal fade" id="footnote_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Footnote</h4>
      </div>
      <div class="modal-body" id="modal_inline">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
