<%= simple_form_for([@book, @text], :html => { :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :label => false %>
    <div class="row">
      <div class="span4"><%= f.input :title %></div>
      <%- if !@text.author.nil? %>
        <div class="span2"><%= f.input :author %></div>
      <%- else %>
        <div class="span2"><%= f.input :author, :input_html => { :value => current_user.name } %></div>
      <%- end %>
    </div>
    <div class="row">
      <div class="span7">
        <label for="text_image"><%= "Imagem principal do texto" %></label>
        <div class="fileupload <%= @text.image.present? ? 'fileupload-exists' : 'fileupload-new' %>" data-provides="fileupload">
          <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=sem+imagem" /></div>
          <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
            <%= image_tag(@text.image.url(:small)) if @text.image.present? %>
          </div>
          <div>
            <span class="btn btn-file"><span class="fileupload-new">Selecionar imagem</span><span class="fileupload-exists">Alterar</span>
              <%= f.input_field :image, :as => :file %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <%= f.input :content, :label => false, :as => :ckeditor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t(:cancel), book_path(@book.uuid), :class => 'btn' %>
  </div>
<% end %>
