<%= simple_form_for([@book, @text], :html => { :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="span7"><%= f.input :title, :label => false %></div>
      <% if can_review? %>
        <div class="span3 form-horizontal inline-checkbox"><%= f.input :revised %></div>
      <% end %>
    </div>
    <% if can_git? %>
      <div class="row">
        <div class="span11 fill">
          <%= f.input :git_message, :placeholder => 'Mensagem' %>
        </div>
      </div>
    <% end %>
    <%= f.input :content, :label => false, :as => :ckeditor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t(:cancel), book_path(@book.uuid), :class => 'btn' %>
  </div>
<% end %>
