<div>
<%= simple_form_for(@text) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <% if session['admin_logged'] || session['professor_logged'] %>
      <%= f.association :books, :as => :check_boxes %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar texto" %>
  </div>
<% end %>
</div>

<script type="text/javascript" >
   $(document).ready(function() {
      $("#text_content").markItUp(mySettings);
   });
</script>