<h1>Listing texts</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>In Books</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @texts.each do |text| %>
  <tr>
    <td><%= link_to text.title, text %></td>
    <td><%= raw text.books.map {|x| x.to_label}.join ', ' %></td>
    <td><%= link_to 'Show', text %></td>
    <td><%= link_to 'Edit', edit_text_path(text) %></td>
    <td><%= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text', new_text_path, :class => 'btn btn-primary' %>
