<% if @texts.present? %>
  <% if is_organizer? and can_write? %>
    <ul id="text-list" data-update-url="<%= sort_book_texts_path(@book) %>" class="text-list-organizer">
  <% else %>
    <ul class="text-list-collaborator">
  <% end %>
  <% @texts.each do |text| %>
    <%= content_tag_for :li, text do %>
      <%= raw('<i class="icon-move handle"></i>&nbsp;') if is_organizer? and can_write? %>
      <%= enable_or_disable_link(text) %>
      <strong class="text-list-title"><%= text_title(@book, text) %></strong>, por <span class="text-list-author"><%= text.user.name.presence || text.user.email %></span>
      <%= "<span class='label label-important'>Conteúdo Inválido</span>".html_safe unless text.valid_content %>
    <% end %>
  <% end %>
  </ul>
<% else %>
  <% if can_write? %>
    <p class="blank">Nenhum capítulo encontrado. Que tal <%= link_to 'criar um novo capítulo?', new_book_text_path(@book.uuid) %></p>
  <% end %>
<% end %>

<% if can_write? %>
  <div class="btn-group">
    <%= link_to 'Novo Capítulo', new_book_text_path(@book.uuid), :class => 'btn btn-primary btn-new btn-small' %>
    <%= link_to('Editar todos os capítulo juntos', all_book_texts_path(@book.uuid), :class => 'btn btn-primary btn-new btn-small') if @texts.count >= 2 %>
  </div>
<% end %>
