<% if @texts.present? %>
  <div class="row">
    <div class="span9">
      <h1>Textos</h1>
    </div>

    <div class="span3">
      <%= link_to 'Novo Texto', new_book_text_path(@book.uuid), :class => 'btn btn-primary btn-new' %>
    </div>
  </div>

  <% if is_organizer? %>
    <ul id="text-list" data-update-url="<%= sort_book_texts_path(@book) %>" class="text-list-organizer">
  <% else %>
    <ul  class="text-list-collaborator">
  <% end %>
  <% @texts.each do |text| %>
    <%= content_tag_for :li, text do %>
      <%= raw('<i class="icon-move handle"></i>&nbsp;') if is_organizer? %>
      <strong class="text-list-title"><%= link_to(text.title, book_text_path(@book.uuid, text.uuid)) %></strong>&nbsp;-&nbsp;<span class="text-list-author"><%= text.user.name.presence || text.user.email %></span>
    <% end %>
  <% end %>
  </ul>
<% else %>
  <p class="blank">Nenhum texto encontrado. Que tal <%= link_to 'criar um novo texto?', new_book_text_path(@book.uuid) %></p>
<% end %>
