<% if @texts.present? %>
  <% if is_organizer? and can_write? %>
    <ul id="text-list" data-update-url="<%= sort_book_texts_path(@book) %>" class="text-list-organizer">
  <% else %>
    <ul class="text-list-collaborator">
  <% end %>
  <% @texts.each do |text| %>
    <%= content_tag_for :li, text do %>
      <%= raw('<i class="icon-move handle"></i>&nbsp;') if is_organizer? and can_write? %>
      <%= enable_or_disable_link(text) %>
      <strong class="text-list-title"><%= text_title(@book, text) %></strong>
      <% unless text.author.blank? %>
      , por <span class="text-list-author"><%= text.author %></span>
      <% end %>
      <%= "<span class='label label-important'>Conteúdo Inválido</span>".html_safe unless text.valid_content %>
    <% end %>
  <% end %>
  </ul>
<% else %>
  <% if can_write? %>
    <p class="blank">Nenhum capítulo encontrado. Que tal <%= link_to 'criar um novo capítulo?', new_book_text_path(@book.uuid) %></p>
  <% end %>
<% end %>

<% if can_write? %>
  <%= form_tag(upload_text_path(@book.uuid), :multipart => true) do %>
  <div class="btn-group">
    <%= button_tag 'Upload Capítulo', class: 'btn btn-primary btn-new btn-small', style: 'display:none', id: 'upload-chapter'%>
    <%= link_to 'Novo Capítulo', new_book_text_path(@book.uuid), :class => 'btn btn-primary btn-new btn-small', :id => 'new-chapter'%>
    <% if is_organizer? %>
      <%= link_to('Editar todos os capítulo juntos', all_book_texts_path(@book.uuid), :class => 'btn btn-primary btn-new btn-small') if @texts.count >= 2 %>
    <% end %>
  </div>
  <div class="doc-upload">
    <label for="upload">
        <%= image_tag 'doc_ico.png' %>
    </label>
    <%= file_field_tag 'upload', accept: 'application/vnd.ms-word', style: 'display:none' %>
  </div>
  <label id='filename'>.docx</label>
  <% end %>
<% end %>

<script>
  $('#upload').change( function () {
    $('#filename').html($('#upload').val() + " adicionado. Clique para remover.");
    $('#upload-chapter').show();
    $('#new-chapter').hide();
  });

  $('#filename').click( function () {
    $('#filename').html('.docx');
    $('#upload').val('');
    $('#upload-chapter').hide();
    $('#new-chapter').show();
  });
</script>
