<h1>New text</h1>

<div>
<%= simple_form_for([@book, @text]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :author_name %>    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>

<%= link_to 'Back', texts_path %>
