<p id="notice"><%= notice %></p>


<% if @text.finished_at.present? %>
  <div class="alert">
   <button class="close" data-dismiss="alert">×</button>
    Texto finalizado em <strong><%=  @text.finished_at.strftime("%d/%m/%y") %></strong>
  </div>
<% end %>

<div class="row">
  <div class="span8">
    <h1><%= @text.title %></h1>
    <p>&nbsp;</p>
    <div style="padding: 10px;"><%= simple_format(@text.content) %></div>
  </div>
  
  <div class="span4">
    <div><%= link_to 'Editar texto', edit_book_text_path(@book.uuid, @text.uuid), :class => 'btn btn-primary' %></div>
    <% unless session['student_logged'] %>
      <div><%= link_to_function 'Ver versão LaTeX', "$('#latex').modal();", :class => 'btn btn-primary' %></div>
      <h2>Pertence aos livros</h2>
      <ul>
        <% @text.books.each do |b| %>
          <li><%= link_to b.title, book_path(b.uuid) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>



<div class="modal hide" id="latex">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>LaTeX</h3>
  </div>
  <div class="modal-body">
    <p><%= k_to_latex @text.content %></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<style type="text/css">
  .span4 { border-left: 1px dotted #ccc; padding-left: 20px;}
  .span4 div { margin-bottom: 10px;}
</style>