<% if @text.finished_at.present? %>
  <div class="alert">
   <button class="close" data-dismiss="alert">×</button>
    <%= t(:text_finished_at) %><strong><%=  @text.finished_at.strftime("%d/%m/%y") %></strong>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <h2><%= @text.title %></h2>
    <div style="padding: 10px;"><%= simple_format(@text.content) %></div>
  </div>

  <div class="span10">
    <div>
      <%= link_to t(:text_edit), edit_book_text_path(@book.uuid, @text.uuid), :class => 'btn btn-primary' %>
      <%= link_to t(:text_delete), book_text_path(@book.uuid, @text.uuid), :class => 'btn btn-danger', :method => "delete", :confirm => t(:text_confirm) %>
      <%= link_to t(:text_back), book_path(@book), :class =>'btn' %>
    </div>
  </div>
</div>

<hr>

<%= render "comments/index" %>

<style type="text/css">
  .span5 { border-left: 1px dotted #ccc; padding-left: 20px; }
  .span5 div { margin-bottom: 10px;}
</style>
