<p id="notice"><%= notice %></p>

<h2>Title</h2>
<p><%= @text.title %></p>

<h2>Content</h2>
<p><%= @text.content %></p>

<h2>In Books</h2>
<p><%= raw @text.books.map {|x| x.to_label}.join ', ' %></p>

<h2>LaTeX</h2>
<p><%= k_to_latex @text.content %></p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>