<% content_for :head do %>
	<%= stylesheet_link_tag 'publish/wizard', media: 'all' %>
<% end %>




<% @body_class = 'cleanbox-body top' %>




<!-- main-base -->
<main class="base" style="max-width:600px;">

	<!-- header -->
	<header class="small">
		<h1 class="title sans-light tc-blue ts-28"><%= @text.title.html_safe %></h1>
		<a rel="cleanbox-close" data-onclose="top.$('.cleanbox').eq(0).find('iframe')[0].contentWindow.publish_wizard.fillChapters();" href="#" class="close">
			<svg viewBox="0 0 18 18">
				<path d="M 1 1 L 17 17 " stroke="#1358a2" stroke-width="1.2" fill="none"/>
				<path d="M 17 1 L 1 17 " stroke="#1358a2" stroke-width="1.2" fill="none"/>
			</svg>
		</a>
	</header>


	<section class="content" style="float:none; width:initial;">
		
		<!-- content -->
		<article><%= @text.content.html_safe %></article>


		<!-- action -->
		<div class="actions" style="padding-bottom:50px;">
			<%= link_to 'Editar', edit_book_text_path(@book.uuid, @text.uuid), :class => 'btn btn-primary btn-default bc-blue tc-white', :rel =>'cleanbox' %>
			<%= link_to 'Remover', book_text_path(@book.uuid, @text.uuid), :class => 'btn btn-danger btn-default tc-red-dark right', :method => "delete", :confirm => t(:text_confirm) %>
			<%= link_to 'Voltar', book_texts_path(@book), :class =>'btn btn-default tc-black', :rel =>'cleanbox-close' %>
		</div>


		<!-- comments -->
		<%= render "comments/index" %>

	</section>

</main>

<!-- 
<script>
	console.log(parent);
</script> -->




<% content_for :foot do %>
	<% #= javascript_include_tag 'publish/wizard' %>
<% end %>
