<%= content_tag :div, :id => 'header' do %>

	<%= content_tag :div, :class => 'nav-user' do %>
		<p>logado como <strong><%= logged_in_as %></strong>
		<% if session['professor_logged'] && @book.present? && @book.finished_at.nil?%>
			&middot;<%= link_to 'finalizar livro', finish_book_path(@book.uuid) %>
		<% end %>
		<%= link_to 'sair', logout_path, :class => 'logout' %>
		</p>
		<%= link_to 'Home do admin', admin_path, :class => 'btn btn-danger' %>
	<% end %>
	<% if @book.present? && @book.id.present? %>
		<%= content_tag :h1, @book.school.name rescue "No School"%>
		<%= content_tag :h2, @book.title, :class => 'livro-titulo' %>
	<% end %>

<% end %>