<!DOCTYPE html>
<html>
<head>
  <title>Livro da Classe - Protótipo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="assets/pdf.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= content_tag :div, :id => 'main' do %>
	<%= yield %>  
	<% end %>
	<!-- <code style="display:block; bottom:0; position: absolute; right:0;"><%= session.inspect %></code> -->
</body>
</html>
