<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=yes">
		<meta name="theme-color" content="#0068AE">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<!-- CSS -->
		<link rel="shortcut icon" sizes="32x32" href="/images/app-icon-32.png">
		<link rel="manifest" href="/manifest.json">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

		<%= yield(:head) %>
		<%= yield(:title).presence || content_tag(:title, "#{Publisher.get_current_app}") %>
		<%= stylesheet_link_tag    "public", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= favicon_link_tag %>
		<%= csrf_meta_tags %>
		<%= yield :meta_tags %>

	</head>
	<body class="application <%= @body_class %>">
			

		<!-- All -->
		<div class="wrap wrap-app">


			<!-- Header -->
			<header class="main-header main-header-app">
				<div class="inner-wrap">
					
					
					<!-- Logo -->
					<div class="logo" >
						<%= image_tag "scielo/logo-scielo.png" %>
					</div>
					

					<!-- Navigation -->
					<nav class="navigation">
						<ul>
							<li class="active"><%= link_to t('my_books'), books_path %></li>
							
							<% if current_user.publisher? %>
								<li><%= link_to 'EDITORIAL', '/admin' %></li>
							<% end %>
							
							<!-- <li><a class="tutorial-modal" data-fancybox-type="iframe" href="http://prezi.com/embed/w2ipyvduj-gc/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined">Tutorial</a></li> -->

							<li>
								<a data-toggle="dropdown" href="#">Conta <i class="icon-arrow"></i></a>
								<ul class="dropdown">
									<li><%= link_to current_user.name, user_path(current_user) %></li>
									<li><%= link_to t(:sign_out), signout_path, :method => :delete %></li>
								</ul>
							</li>
						</ul>
					</nav>


				</div>
			</header>



			<!-- space -->
			<div class="header-space"></div>



			<!-- Notification -->
			
			<% #if :flash_message? %>
				<% #= flash_message %>
				<script>
					// <%= flash_message.html_safe %>
					// common.showOutput(true, '<%= flash_message.html_safe %>')
				</script>
			<% #end %>



			<!-- Content -->
			<main>
				<div class="inner-wrap">
					<%= yield %>
				</div>
			</main>



			<!-- Footer -->
			<footer class="main-footer">
				<div class="inner-wrap">
					<div class="footer-top">
						<ul class="nav">
							<li></li>
						</ul>
					</div>
					<div class="footer-bottom">
						<div class="address">
							<strong>SciELO - Scientific Electronic Library Online</strong>
							<br />
							Av. Onze de Junho, 269 - Vila Clementino 04041-050 São Paulo SP - Brasil
							<br />
							Tel.: (55 11) 5083-3639 - Email: scielo@scielo.org
						</div>
					</div>
				</div>
			</footer>
		</div>



		<!-- Google Analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34822510-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>



		<!-- Olark -->
		<% unless current_user.organized_books.empty? %>
			<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||function(e){var t=window,n=document,a="https:"==t.location.protocol?"https:":"http:",o=e.name,r="load",i=function(){function d(){c.P(r),t[o](r)}t[o]=function(){(c.s=c.s||[]).push(arguments)};for(var c=t[o]._={},s=e.methods.length;s--;)!function(e){t[o][e]=function(){t[o]("call",e,arguments)}}(e.methods[s]);c.l=e.loader,c.i=i,c.p={0:+new Date},c.P=function(e){c.p[e]=new Date-c.p[0]},t.addEventListener?t.addEventListener(r,d,!1):t.attachEvent("on"+r,d);var l=function(){function t(e){return e="head",["<",e,"></",e,"><",r,' onload="var d=',v,";d.getElementsByTagName('head')[0].",s,"(d.",f,"('script')).",m,"='",a,"//",c.l,"'",'"',"></",r,">"].join("")}var r="body",i=n[r];if(!i)return setTimeout(l,100);c.P(1);var d,s="appendChild",f="createElement",m="src",u=n[f]("div"),p=u[s](n[f](o)),h=n[f]("iframe"),v="document",w="domain";u.style.display="none",i.insertBefore(u,i.firstChild).id=o,h.frameBorder="0",h.id=o+"-loader",/MSIE[ ]+6/.test(navigator.userAgent)&&(h.src="javascript:false"),h.allowTransparency="true",p[s](h);try{h.contentWindow[v].open()}catch(g){e[w]=n[w],d="javascript:var d="+v+".open();d.domain='"+n.domain+"';",h[m]=d+"void(0);"}try{var y=h.contentWindow[v];y.write(t()),y.close()}catch(E){h[m]=d+'d.write("'+t().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}c.P(2)};l()};i()}({loader:"static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]}),olark.identify("2286-731-10-2219");/*]]>*/</script>
			<noscript><a href="https://www.olark.com/site/2286-731-10-2219/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
		<% end %>
		<% if current_user %>
			<script type="text/javascript">
				setTimeout(function()
				{
					olark('api.chat.updateVisitorNickname', { snippet: "<%= current_user.name %>" });
					olark('api.visitor.updateFullName', {fullName: '<%= current_user.name%>'});
					olark('api.visitor.updateEmailAddress', {emailAddress: '<%= current_user.email%>'});
				},3000);
			</script>
		<% end %>



		<!-- foot -->
		<%= yield(:foot) %>



	</body>
</html>
