<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= yield(:title).presence || content_tag(:title, "#{Publisher.get_current(request.host).name}") %>
    <%= stylesheet_link_tag    "new_ui" %>
    <%= stylesheet_link_tag    "cadastro-login" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= yield :meta_tags %>
  </head>
  <body>

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrap">
      <header class="main-header">
        <div class="navbar">
          <div class="navbar-inner navbar-top">
            <div class="navbar-logo">
              <%= link_to "#{Publisher.get_current(request.host).name}", home_path, :class => 'logo' %>
            </div>
            <div class="navbar-user">
              <% if current_user.nil? %>
                <label><%= link_to "Acesse sua conta", signin_path %> ou <%= link_to "Cadastre-se", new_user_path %></label>
              <% else %>
                <figure>
                  <%= image_tag 'new_ui/avatar.jpg' %>
                </figure>
                <label>Bem vindo, <%= link_to current_user.name, user_path(current_user) %></label>
              <% end %>
            </div>
          </div>
          <div class="navbar-inner navbar-bottom">
            <ul class="nav">
              <li <%= "class=active" if current_page?(home_path) %>><a href="/home#video">Home</a></li>
              <li><a href="/home#quem-somos">Quem Somos</a></li>
              <li><a href="/home#como-funciona">Como Funciona</a></li>
              <li><a href="/home#clientes">Clientes</a></li>
              <li><a href="/home#contato">Contato</a></li>
            </ul>
          </div>
        </div>
      </header>

      <%= flash_message %>
      <%= yield %>

      <footer class="main-footer">
        <div class="footer-top">
          <ul class="nav">
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/saiba">Saiba mais</a></li>
            <li><a href="https://trello.com/b/ljDooqSg/hedra-lancamentos-eventos-promos/">Em breve</a></li>
          </ul>
        </div>
        <div class="footer-bottom">
          <div class="address">Rua Fradique Coutinho 1139, Subsolo CEP 05416-011 - São Paulo - SP Tel.: (11) 3097-8304</div>
          <div class="copyright">Copyright © 2014, Hedra.</div>
        </div>
      </footer>
    </div>

  </body>
</html>

<script>
  var _gaq=[['_setAccount','UA-34822510-2'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));

  $('.main-header').affix({
    offset: {
      top: $('.main-header').height()+50,
      bottom: $('.main-footer').outerHeight(true)
    }
  });
</script>
